<main>
    <div class="wrap min">
        <section class="page-title">
            <h2><%= page.title ? page.title : "没有标题的页面" %></h2>
        </section>
        <article class="page-content">
            <%- page.content %>
        </article>
    </div>
</main>
